@font-face {
  font-family: "Darkmode On";
  src: url("/fonts/DarkmodeOn-Th.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Darkmode On";
  src: url("/fonts/DarkmodeOn-Lt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Darkmode On";
  src: url("/fonts/DarkmodeOn-Rg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Darkmode On";
  src: url("/fonts/DarkmodeOn-Md.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Darkmode On";
  src: url("/fonts/DarkmodeOn-SBd.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Darkmode On";
  src: url("/fonts/DarkmodeOn-Bd.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monaco";
  src: url("/fonts/Monaco.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-darkmode: "Darkmode On";
  --font-monaco: "Monaco";
}
